NODE_ENV=development
PORT=5001
MONGO_URI=MONGO_URI
JWT_SECRET=your_jwt_secret_here
GITHUB_TOKEN=your_github_personal_access_token
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
GOOGLE_CLIENT_ID=your_google_oauth_client_id 